body{
    background-color: aqua;
}
nav {
    text-align: center;
    font-size: 2em;
    background: rgb(32, 76, 170);
}
nav a {
    display: inline-block; /* This makes them sit side by side */
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}
nav a:hover{
    border-bottom: 2px orange solid;
    font-size: 1.4em;
    transition:.9s;
}
h1{
    text-align: center;
    font-size: 4em;
}
h2{
    text-align: center;
    font-size: 3em;
}
img {
  width: 400px;
  height: 500px;
}